@import "colors.css";

* {
  font-family: JetBrainsMono Nerd Font;
  font-size: 13px;
  font-weight: 600;
  border: none;
  border-radius: 0;
  min-height: 0;
}

/* ===== PANEL ===== */
window#waybar {
  background: rgba(10, 10, 10, 1);
  color: #eaeaea;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid alpha(@secondary, 0.15);
}

/* ===== COMMON BLOCK STYLE ===== */
#custom-clock,
#custom-vremya,
#language,
#pulseaudio,
#network,
#battery {
  padding: 4px 12px;
  margin: 0 6px 0 0;
  background: alpha(@surface, 0.35);
  color: @secondary;
}

/* ===== CENTER / WORKSPACES ===== */
#workspaces {
  margin: 0 6px;
  padding: 0;
  background: transparent;
}

#workspaces button {
  padding: 4px 9px;
  margin: 0;
  background: transparent;
  color: alpha(@secondary, 0.6);
}

#workspaces button:hover {
  background: alpha(@secondary, 0.25);
  color: @secondary;
}

#workspaces button.active {
  background: @secondary;
  color: black;
}

/* ===== TOOLTIP ===== */
tooltip {
  background: rgba(15, 15, 15, 0.95);
  color: @inverse_surface;
  padding: 8px 10px;
  border-radius: 0;
  border: 1px solid alpha(@secondary, 0.2);
}
